@{
    ViewBag.Title = "Help Desk Requests";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            @*            <hgroup class="hero-unit">
                <h1>@ViewBag.Title.</h1>
                <h4>@ViewBag.Message</h4>
            </hgroup>*@

            <div id="myCarousel" class="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Images/blue-abstract-header.jpg" alt="" />
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Help Desk Application.</h1>
                                <p class="lead">
                                    Offers a high quality, efficient support service 24 hours a day to the customers, regardless of their geographical location.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="loginArea" class="form-signin" data-bind="visible: isUserAuthenticated() === false">

                <h2 class="form-signin-heading">Please sign in</h2>
                <input class="input-block-level" type="text" placeholder="User Name"
                       name="username" data-bind="value: userName">
                <input class="input-block-level" type="password" placeholder="Password"
                       name="password" data-bind="value: password, valueUpdate: 'afterkeydown', executeOnEnter: loadUser">
                <button class="btn btn-large btn-primary" type="submit"
                    data-bind="click: loadUser">
                    Sign in</button>

            </div>

            <div id="authorizedArea" class="hero-unit" data-bind="visible: isUserAuthenticated() === true">

                <div id="userArea">

                    <div class="navbar-wrapper">
                        <div class="container">
                            <div class="navbar navbar-inverse">
                                <div class="navbar-inner">
                                    <div class="nav-collapse collapse">
                                        <ul class="nav">
                                            <li class="active">
                                                <a>
                                                    <i class="icon-search icon-white"></i>
                                                    <input data-bind="value: keywordFilter, valueUpdate: 'afterkeydown'"
                                                        type="text" class="search-query" placeholder="Search">
                                                </a>
                                            </li>
                                            <li>
                                                <a>
                                                    <i class="icon-filter icon-white"></i>
                                                    <select class="span2" data-bind="options: requestStatusOptions,
    optionsText: 'RequestStatusName',
    value: selectedFilterRequestStatusOption">
                                                    </select>
                                                </a>
                                            </li>
                                            <li id="createActions" class="dropdown actions">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b>ACTIONS</a>
                                                <ul class="dropdown-menu">
                                                    <div data-bind="visible: admin() === true || client() === true">
                                                        <a id="newRequest"
                                                            class="action"
                                                            href="#"
                                                            data-bind="click: openModalForNewRequest"
                                                            data-toggle="modal"
                                                            data-target="#newRequestModal">
                                                            <i class="icon-file"></i>
                                                            Create Request
                                                        </a>
                                                    </div>
                                                    <div data-bind="visible: admin() === true">
                                                        <a id="newUser"
                                                            class="action"
                                                            href="#"
                                                            data-bind="click: openModalForNewUser"
                                                            data-toggle="modal"
                                                            data-target="#newUserModal">
                                                            <i class="icon-user"></i>
                                                            Create User
                                                        </a>
                                                    </div>
                                                    <div data-bind="visible: admin() === true">
                                                        <a id="newProduct"
                                                            class="action"
                                                            href="#"
                                                            data-bind="click: openModalForNewProduct"
                                                            data-toggle="modal"
                                                            data-target="#newProductModal">
                                                            <i class="icon-tag"></i>
                                                            Create Product</a>
                                                    </div>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <p class="navbar-text pull-right">
                                        <i class="icon-user icon-white"></i>
                                        Welcome: 
                                <a data-bind="text: loggedInUser().UserName()" class="navbar-link" href="#">Username</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*                  <div id="adminModule" data-bind="visible: loadAdminModule()">
                        <p>Hello ADMIN</p>
                    </div>

                    <div id="clientModule" data-bind="visible: loadClientModule()">
                        <p>Hello CLIENT</p>
                    </div>

                    <div id="businessModule" data-bind="visible: loadBusinessModule()">
                        <p>Hello BUSINESS</p>
                    </div>

                    <div id="helpDeskModule" data-bind="visible: loadHelpDeskModule()">
                        <p>Hello HELP DESK</p>
                    </div>*@

                    <div id="requestsArea">
                    </div>

                    <div id="usersArea">
                    </div>

                    <div id="newUserModalArea">
                    </div>

                    <div id="productsArea">
                    </div>

                    <div id="newProductModalArea">
                    </div>

                    <div id="requestModalArea">
                    </div>

                    <div id="newRequestModalArea">
                    </div>

                    <div id="assignToUserModalArea">
                    </div>

                    <div id="changeRequestStatusModalArea">
                    </div>

                    <div id="requestStatusHistoryModalArea">
                    </div>

                    <div id="assignedUserHistoryModalArea">
                    </div>

                    <div id="takeRequestModalArea">
                    </div>

                    <div id="closeRequestModalArea">
                    </div>

                    <div id="reopenRequestModalArea">
                    </div>

                    <div id="denyRequestModalArea">
                    </div>

                    <div id="finishRequestModalArea">
                    </div>

                </div>

            </div>
        </div>
    </section>
}
@*HDA SPA Entry Point*@
<script src="~/Scripts/Main.js"></script>

@*Templates section*@
<script type="text/html" id="requestsListTemplate">
    <h4 class="text-info">Help Desk Requests:</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Subject</th>
                <th>Description</th>
                <th>Status</th>
                <th>Open Date</th>
                <th>Closed Date</th>
                <th>Assigned To</th>
                <th>Product Name</th>
                <th>Product</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: filteredRequestsByRequestStatus">
            <tr data-bind="css: {
    'success': CurrentRequestStatus().RequestStatusName() === 'ACCEPTED',
    'error': CurrentRequestStatus().RequestStatusName() === 'DENIED',
    'warning': CurrentRequestStatus().RequestStatusName() === 'PROCESSED',
    'info': CurrentRequestStatus().RequestStatusName() === 'ACCEPTED'
}">
                <td>
                    <li id="actions" class="dropdown actions">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Actions</li>
                            <li>
                                <a href="#"
                                    data-bind="click: openRequest.bind($data)"
                                    data-toggle="modal"
                                    data-target="#requestModal">
                                    <i class="icon-folder-open"></i>
                                    Open request</a>
                            </li>
                            <div class="visibility" data-bind="visible: client() === true">
                                <li class="divider"></li>
                                <li class="nav-header">Client section</li>
                                <li>
                                    <a href="#"
                                        data-bind="click: openCloseRequestModal.bind($data)"
                                        data-toggle="modal"
                                        data-target="#closeRequestModal">
                                        <i class="icon-folder-close"></i>
                                        Close request</a>
                                </li>
                                <li>
                                    <a href="#"
                                        data-bind="click: openReopenRequestModal.bind($data)"
                                        data-toggle="modal"
                                        data-target="#reopenRequestModal">
                                        <i class="icon-repeat"></i>
                                        Re-Open request</a>
                                </li>
                            </div>
                            <div class="visibility" data-bind="visible: admin() === true || helpdesk() === true">
                                <li>
                                    <a href="#"
                                        data-bind="click: openAssignToUserModal.bind($data)"
                                        data-toggle="modal"
                                        data-target="#assignToUserModal">
                                        <i class="icon-share"></i>
                                        Assign request</a>
                                </li>
                            </div>
                            <div class="visibility" data-bind="visible: admin() === true || client() === true">
                                <li>
                                    <a href="#"
                                        data-bind="click: deleteRequest.bind($data)">
                                        <i class="icon-trash"></i>
                                        Delete request</a>
                                </li>
                            </div>
                            <div class="visibility" data-bind="visible: admin() === true || business() === true">
                                <li>
                                    <a href="#"
                                        data-bind="click: openChangeRequestsStatusModal.bind($data)"
                                        data-toggle="modal"
                                        data-target="#changeRequestStatusModal">
                                        <i class="icon-cog"></i>
                                        Change status</a>
                                </li>
                            </div>
                            <li class="divider"></li>
                            <li class="nav-header">History</li>
                            <li>
                                <a href="#"
                                    data-bind="click: openRequestStatusHistory.bind($data)"
                                    data-toggle="modal"
                                    data-target="#requestStatusHistoryModal">
                                    <i class="icon-tasks"></i>
                                    Request status history</a>
                            </li>
                            <li>
                                <a href="#"
                                    data-bind="click: openAssignedUserHistory.bind($data)"
                                    data-toggle="modal"
                                    data-target="#assignedUserHistoryModal">
                                    <i class="icon-th"></i>
                                    Assigned user history</a>
                            </li>
                            <div class="visibility" data-bind="visible: helpdesk() === true">
                                <li class="divider"></li>
                                <li class="nav-header">Help Desk section</li>
                                <li>
                                    <a href="#"
                                        data-bind="click: openTakeRequestModal.bind($data)"
                                        data-toggle="modal"
                                        data-target="#takeRequestModal">
                                        <i class="icon-hand-up"></i>
                                        Take request</a>
                                </li>
                                <li>
                                    <a href="#"
                                        data-bind="click: openDenyRequestModal.bind($data)"
                                        data-toggle="modal"
                                        data-target="#denyRequestModal">
                                        <i class="icon-minus-sign"></i>
                                        Deny request</a>
                                </li>
                            </div>
                            <div class="visibility" data-bind="visible: business() === true">
                                <li class="divider"></li>
                                <li class="nav-header">Business section</li>
                                <li>
                                    <a href="#"
                                        data-bind="click: openFinishRequestModal.bind($data)"
                                        data-toggle="modal"
                                        data-target="#finishRequestModal">
                                        <i class="icon-check"></i>
                                        Finish request</a>
                                </li>
                            </div>
                        </ul>
                    </li>
                </td>
                <td data-bind="text: RequestId()"></td>
                <td data-bind="text: RequestSubject()"></td>
                <td data-bind="text: RequestDescription()"></td>
                <td data-bind="text: CurrentRequestStatus().RequestStatusName()"></td>
                <td data-bind="text: RequestOpenDate().substring(0, 10)"></td>
                <td data-bind="text: RequestClosedDate().substring(0, 10)"></td>
                <td data-bind="text: CurrentAssignedUser().UserName()"></td>
                <td data-bind="text: Product().ProductName()"></td>
                <td data-bind="text: Product().ProductDescription()"></td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/html" id="usersListTemplate">
    <h4 class="text-info">Users:</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>User Name</th>
                <th>Password</th>
                <th>Description</th>
                <th>Type</th>
                <th>Type Description</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: users">
            <tr>
                <td>
                    <li id="userActions" class="dropdown actions">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">User Actions</li>
                            <li>
                                <a href="#"
                                    data-bind="click: openRequest.bind($data)"
                                    data-toggle="modal"
                                    data-target="#requestModal">
                                    <i class="icon-lock"></i>
                                    Change user password</a>
                            </li>
                            <li>
                                <a href="#"
                                    data-bind="click: openRequest.bind($data)">
                                    <i class="icon-trash"></i>
                                    Delete user</a>
                            </li>
                        </ul>
                    </li>
                </td>
                <td data-bind="text: UserId()"></td>
                <td data-bind="text: UserName()"></td>
                <td data-bind="text: Password()"></td>
                <td data-bind="text: UserDescription()"></td>
                <td data-bind="text: UserType().UserTypeName()"></td>
                <td data-bind="text: UserType().UserTypeDescription()"></td>
                <td data-bind="text: DateCreated().substring(0, 10)"></td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/html" id="productsListTemplate">
    <h4 class="text-info">Products:</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Date Created</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: products">
            <tr>
                <td>
                    <li id="productActions" class="dropdown actions">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">Product Actions</li>
                            <li>
                                <a href="#"
                                    data-bind="click: deleteRequest.bind($data)">
                                    <i class="icon-trash"></i>
                                    Delete product</a>
                            </li>
                        </ul>
                    </li>
                </td>
                <td data-bind="text: ProductId()"></td>
                <td data-bind="text: ProductName()"></td>
                <td data-bind="text: ProductDescription()"></td>
                <td data-bind="text: DateCreated().substring(0, 10)"></td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/html" id="changeRequestStatusModalTemplate">
    <div id="changeRequestStatusModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="changeRequestStatusModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="changeRequestStatusModalLabel">Change request status</h3>
        </div>
        <div class="modal-body">
            <p>Change help desk request status to:</p>
            <label>Request Status:</label>
            <select class="span2" data-bind="options: requestStatusOptions,
    optionsText: 'RequestStatusName',
    value: selectedRequestStatusOption">
            </select>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" data-bind="click: changeRequestStatus">Change request status</button>
        </div>
    </div>
</script>

<script type="text/html" id="assignToUserModalTemplate">
    <div id="assignToUserModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="assignToUserModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="assignToUserModalLabel">Assign request to the user</h3>
        </div>
        <div class="modal-body">
            <p>Assign Help Desk Request To The User:...</p>
            <label>Users:</label>
            <select class="span2" data-bind="options: users,
    optionsText: 'UserName',
    value: selectedUser">
            </select>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" data-bind="click: assignToUser">Assign to the user</button>
        </div>
    </div>
</script>

<script type="text/html" id="requestDetailsModalTemplate">
    <div id="requestModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="requestDetailsModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="requestDetailsModalLabel">Help Desk Request Details</h3>
        </div>
        <div class="modal-body">
            <label>Help desk request subject:</label>
            <label data-bind="text: selectedRequest().RequestSubject()"></label>
            <br />
            <label>Help desk request product:</label>
            <label data-bind="text: selectedRequest().Product().ProductName()"></label>
            <br />
            <label>Help desk request description:</label>
            <textarea id="requestDetailsDescription" name="requestDetailsDescription"
                cols="40"
                style="width: 300px; height: 100px;"
                data-bind="nicedit: selectedRequest().RequestDescription"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save help desk request</button>
        </div>
    </div>
</script>

<script type="text/html" id="newRequestModalTemplate">
    <div id="newRequestModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="newRequestModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="newRequestModalLabel">New Help Desk Request</h3>
        </div>
        <div class="modal-body">
            <p>Please enter details about new help desk request:</p>
            <label>Help desk request subject:</label>
            <input id="requestSubject" name="requestSubject" data-bind="value: newRequest().RequestSubject" type="text" />
            <label>Help desk request product:</label>
            <select class="span2" data-bind="options: products,
    optionsText: 'ProductName',
    value: selectedProduct">
            </select>
            <label>Help desk request details:</label>
            <textarea id="requestDescription"
                name="requestDescription"
                cols="40"
                style="width: 300px; height: 100px;"
                data-bind="nicedit: newRequest().RequestDescription"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button data-bind="click: saveRequest"
                class="btn btn-primary">
                Save new help desk request</button>
        </div>
    </div>
</script>

<script type="text/html" id="takeRequestModalTemplate">
    <div id="takeRequestModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="takeRequestModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="takeRequestModalLabel">Take request</h3>
        </div>
        <div class="modal-body">
            <p>Take request</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" data-bind="click: takeRequest.bind($data),
    visible: selectedRequest().CurrentRequestStatus().RequestStatusId() === 1">
                Take request</button>
        </div>
    </div>
</script>

<script type="text/html" id="closeRequestModalTemplate">
    <div id="closeRequestModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="closeRequestModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="closeRequestModalLabel">Close request</h3>
        </div>
        <div class="modal-body">
            <p>Close request</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" data-bind="click: closeRequest.bind($data),
    visible: selectedRequest().CurrentRequestStatus().RequestStatusId() !== 6">
                Close request</button>
        </div>
    </div>
</script>

<script type="text/html" id="reopenRequestModalTemplate">
    <div id="reopenRequestModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="reopenRequestModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="reopenRequestModalLabel">Re-Open request</h3>
        </div>
        <div class="modal-body">
            <p>Re-Open request</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" data-bind="click: reopenRequest.bind($data),
    visible: selectedRequest().CurrentRequestStatus().RequestStatusId() !== 1">
                Re-open request</button>
        </div>
    </div>
</script>

<script type="text/html" id="denyRequestModalTemplate">
    <div id="denyRequestModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="denyRequestModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="denyRequestModalLabel">Deny request</h3>
        </div>
        <div class="modal-body">
            <p>Deny request</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" data-bind="click: denyRequest.bind($data),
    visible: selectedRequest().CurrentRequestStatus().RequestStatusId() === 2">
                Deny request</button>
        </div>
    </div>
</script>

<script type="text/html" id="finishRequestModalTemplate">
    <div id="finishRequestModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="finishRequestModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="finishRequestModalLabel">Finish request</h3>
        </div>
        <div class="modal-body">
            <p>Deny request</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" data-bind="click: finishRequest.bind($data),
    visible: selectedRequest().CurrentRequestStatus().RequestStatusId() === 3">
                Finish request</button>
        </div>
    </div>
</script>

<script type="text/html" id="requestStatusHistoryModalTemplate">
    <div id="requestStatusHistoryModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="requestStatusHistoryModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="requestStatusHistoryModalLabel">Request status history</h3>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Request Status Name</th>
                        <th>Date/Time Changed</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: selectedRequest().RequestStatusChanges()">
                    <tr>
                        <td data-bind="text: RequestStatus().RequestStatusName()"></td>
                        <td data-bind="text: DateCreated()"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
</script>

<script type="text/html" id="assignedUserHistoryModalTemplate">
    <div id="assignedUserHistoryModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="assignedUserHistoryModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="assignedUserHistoryModalLabel">Assigned users history</h3>
        </div>
        <div class="modal-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Date/Time Changed</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: selectedRequest().AssignedUserChanges()">
                    <tr>
                        <td data-bind="text: User().UserName()"></td>
                        <td data-bind="text: DateCreated()"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
</script>

<script type="text/html" id="newUserModalTemplate">
    <div id="newUserModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="newUserModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="newUserModalLabel">Add User</h3>
        </div>
        <div class="modal-body">
            <p>Please enter details about new user:</p>
            <label>User Name:</label>
            <input id="userName" name="userName" data-bind="value: newUser().UserName" type="text" />
            <label>Password:</label>
            <input id="password" name="password" data-bind="value: newUser().Password" type="text" />
            <label>User type:</label>
            <select class="span2" data-bind="options: userTypes,
    optionsText: 'UserTypeName',
    value: selectedUserType">
            </select>
            <label>User details:</label>
            <textarea id="userDescription"
                name="userDescription"
                cols="40"
                style="width: 300px; height: 100px;"
                data-bind="nicedit: newUser().UserDescription"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button data-bind="click: saveUser"
                class="btn btn-primary">
                Add new user</button>
        </div>
    </div>
</script>

<script type="text/html" id="newProductModalTemplate">
    <div id="newProductModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="newProductModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="newProductModalLabel">Add User</h3>
        </div>
        <div class="modal-body">
            <p>Please enter details about new product:</p>
            <label>User Name:</label>
            <input id="productName" name="userName" data-bind="value: newProduct().ProductName" type="text" />
            <label>Product description:</label>
            <textarea id="productDescription"
                name="productDescription"
                cols="40"
                style="width: 300px; height: 100px;"
                data-bind="nicedit: newProduct().ProductDescription"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button data-bind="click: saveProduct"
                class="btn btn-primary">
                Add new product</button>
        </div>
    </div>
</script>
