@{
    ViewBag.Title = "Help Desk Requests";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h4>@ViewBag.Message</h4>
            </hgroup>

            <div id="requestsArea">
            </div>

            <div id="requestModalArea">
            </div>

            <div id="newRequestModalArea">

                <div id="newRequestModal"
                    class="modal hide fade"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="newRequestModalLabel">Modal header</h3>
                    </div>
                    <div class="modal-body">
                        <p>Help Desk Request Details...</p>
                        <label>Help desk request description:</label>
                        <input id="requestDescription" name="requestDescription" data-bind="value: newRequest().RequestDescription"
                            type="text" />
                        <label>Help desk request product:</label>
                        <input id="productId" name="productId" data-bind="value: newRequest().ProductId"
                            type="text" />
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                        <button data-bind="click: saveRequest"
                            class="btn btn-primary">
                            Save new help desk request</button>
                    </div>
                </div>

            </div>

            <div>
                <button class="btn"
                    type="button"
                    data-toggle="modal"
                    data-target="#newRequestModal">
                    NEW Help Desk Request</button>
            </div>

        </div>
    </section>
}
@*HDA SPA Entry Point*@
<script src="~/Scripts/Main.js"></script>

@*Templates section*@
<script type="text/html" id="requestsTemplate">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Request Description</th>
                <th>Request Open Date</th>
                <th>Request Closed Date</th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: requests">
            <tr>
                <td data-bind="text: RequestId()"></td>
                <td data-bind="text: RequestDescription()"></td>
                <td data-bind="text: RequestOpenDate()"></td>
                <td data-bind="text: RequestClosedDate()"></td>
                <td data-bind="text: Product().ProductName()"></td>
                <td data-bind="text: Product().ProductDescription()"></td>
                <td>
                    <button data-bind="click: openRequest.bind($data)"
                            class="btn"
                            type="button"
                            data-toggle="modal">
                        Open Help Desk Request
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/html" id="requestModalTemplate">
    <div id="requestModal"
        class="modal hide fade"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Modal header</h3>
        </div>
        <div class="modal-body">
            <p>Help Desk Request Details...</p>
            <label data-bind="text: selectedRequest().Product().ProductName()"></label>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary">Save help desk request</button>
        </div>
    </div>
</script>
