@{
    ViewBag.Title = "Help Desk Requests - Mobile";
}

<script type="text/javascript">
    var HDA = {};
    HDA.TargetDevice = "MOBILE";
</script>

@section featured {

    <section class="featured">

        <div class="jumbotron">
            <div class="container">
                <h1>Help Desk Mobile Application.</h1>
                <p>Offers a high quality, efficient support service 24 hours a day to the customers, regardless of their geographical location.</p>
                <div id="loginArea" class="jumbotron" data-bind="visible: isUserAuthenticated() === false">
                    <form class="form-signin">
                        <h2 class="form-signin-heading">Please sign in</h2>
                        <input type="text" class="form-control" placeholder="User Name" autofocus="" name="username" data-bind="value: userName">
                        <input type="password" class="form-control" placeholder="Password" name="password" data-bind="value: password, valueUpdate: 'afterkeydown', executeOnEnter: loadUser">
                        <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: loadUser">Sign in</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="authorizedArea" class="hero-unit" data-bind="visible: isUserAuthenticated() === true">

            <div id="requestsArea">
            </div>

            <div class="jumbotron" id="helpDeskRequestDetailsArea">
            </div>

        </div>

    </section>
}
@*HDA MOBILE SPA Entry Point*@
<script src="~/Scripts/Main.js"></script>

@*Templates section*@
<script type="text/html" id="requestsListTemplate">
    <div class="container" data-bind="visible: helpDeskRequestGridPage()">
        <h4 class="text-info">Help Desk Requests:</h4>
        <div class="list-group" data-bind="foreach: filteredRequestsByRequestStatus">
            <a class="list-group-item"
               data-bind=" click: loadHelpDeskRequest.bind($data),
    css: {
        'alert-success': CurrentRequestStatus().RequestStatusName() === 'ACCEPTED',
        'alert-error': CurrentRequestStatus().RequestStatusName() === 'DENIED',
        'alert-warning': CurrentRequestStatus().RequestStatusName() === 'PROCESSED',
        'alert-info': CurrentRequestStatus().RequestStatusName() === 'FINISHED'
    }">
                <div class="row">
                    <div class="col-xs-10">
                        <h4 class="list-group-item-heading" data-bind="text: RequestSubject()"></h4>
                        <p class="list-group-item-text" data-bind="text: RequestDescription()"></p>
                    </div>
                    <div class="text-right col-xs-2">
                        <span class="glyphicon glyphicon-play"></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</script>

<script type="text/html" id="helpDeskRequestDetailsTemplate">
    <div class="container" data-bind="visible: helpDeskRequestDetailsPage()">
        <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: loadHelpDeskRequestGrid">BACK</button>
        <h2>Help Desk Request Details:</h2>
        <div class="row table-bordered">
            <div class="col-xs-6">
                <h4>ID: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: RequestId()"></b></h4>
                
            </div>
        </div>
        <div class="row table-bordered">
            <div class="col-xs-6">
                <h4>Status: </h4>
            </div>
            <div class="col-xs-6 text-right" data-bind="css: {
    'text-success': CurrentRequestStatus().RequestStatusName() === 'ACCEPTED',
    'text-danger': CurrentRequestStatus().RequestStatusName() === 'DENIED',
    'text-warning': CurrentRequestStatus().RequestStatusName() === 'PROCESSED',
    'text-info': CurrentRequestStatus().RequestStatusName() === 'FINISHED'
                                             }">
                <h4><b data-bind="text: CurrentRequestStatus().RequestStatusName()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered">
            <div class="col-xs-6">
                <h4>Subject: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: RequestSubject()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered">
            <div class="col-xs-6">
                <h4>Open Date: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: RequestOpenDate().substring(0, 10)"></b></h4>
            </div>
        </div>
        <div class="row table-bordered">
            <div class="col-xs-6">
                <h4>Closed Date: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: RequestClosedDate().substring(0, 10)"></b></h4>
            </div>
        </div>
        <div class="row table-bordered">
            <div class="col-xs-6">
                <h4>Product: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: Product().ProductDescription()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered">
            <div class="col-xs-6">
                <h4>Product Name: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: Product().ProductName()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered">
            <div class="col-xs-6">
                <h4>Assigned to: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: CurrentAssignedUser().UserName()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered">
            <div class="col-xs-12">
                <h4>Description: </h4>
            </div>
        </div>
        <div class="row table-bordered">
            <div class="col-xs-12">
                <h4><b data-bind="text: RequestDescription()"></b></h4>
            </div>
        </div>
    </div>
</script>

@*<script type="text/html" id="adminActionsTemplate">
    <div class="row">
        <div class="col-md-4 text-center">
            <h4>Details</h4>
        </div>
        <div class="col-md-4 text-center">
            <h4>Change Password</h4>
        </div>
        <div class="col-md-4 text-center">
            <h4>Delete</h4>
        </div>
    </div>
</script>*@
