@{
    ViewBag.Title = "Help Desk Requests - Mobile";
}

<script type="text/javascript">
    var HDA = {};
    HDA.TargetDevice = "MOBILE";
</script>

@section featured {

    <section class="featured">

        <div class="jumbotron">
            <div class="container">
                <h1>Help Desk Mobile Application.</h1>
                <p>Offers a high quality, efficient support service 24 hours a day to the customers, regardless of their geographical location.</p>
                <div id="loginArea" class="jumbotron" data-bind="visible: isUserAuthenticated() === false">
                    <form class="form-signin">
                        <h2 class="form-signin-heading">Please sign in</h2>
                        <input type="text" class="form-control" placeholder="User Name" autofocus="" name="username" data-bind="value: userName">
                        <input type="password" class="form-control" placeholder="Password" name="password" data-bind="value: password, valueUpdate: 'afterkeydown', executeOnEnter: loadUser">
                        <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: loadUser">Sign in</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="authorizedArea" class="hero-unit" data-bind="visible: isUserAuthenticated() === true">
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4 text-center">
                            <h4>
                                <button id="helpDeskRequestGridButton" data-bind="click: loadHelpDeskRequestsGrid" class="btn btn-lg btn-default btn-block">Help Desk Requests</button></h4>
                        </div>
                        <div class="col-xs-4 text-center">
                            <h4>
                                <button data-bind="click: loadProductsGrid" class="btn btn-lg btn-default btn-block">Products</button></h4>
                        </div>
                        <div class="col-xs-4 text-center">
                            <h4>
                                <button data-bind="click: loadUsersGrid" class="btn btn-lg btn-default btn-block">Users</button></h4>
                        </div>
                    </div>
                </div>
            </div>

            <div id="requestsArea">
            </div>

            <div class="jumbotron" id="helpDeskRequestDetailsArea">
            </div>

            <div class="jumbotron" id="newHelpDeskRequestArea">
            </div>

            <div class="jumbotron" id="productsDetailsArea">
            </div>

            <div class="jumbotron" id="usersDetailsArea">
            </div>

        </div>

    </section>
}
@*HDA MOBILE SPA Entry Point*@
<script src="~/Scripts/Main.js"></script>

@*Templates section*@

<script type="text/html" id="requestsListTemplate">
    <div class="container" data-bind="visible: helpDeskRequestGridPage()">
        <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: loadNewHelpDeskRequestPage">Create New Help Desk Request</button>
        <div class="list-group" data-bind="foreach: filteredRequestsByRequestStatus">
            <a class="list-group-item"
                data-bind=" click: loadHelpDeskRequestDetails.bind($data),
    css: {
        'alert-success': CurrentRequestStatus().RequestStatusName() === 'ACCEPTED',
        'alert-error': CurrentRequestStatus().RequestStatusName() === 'DENIED',
        'alert-warning': CurrentRequestStatus().RequestStatusName() === 'PROCESSED',
        'alert-info': CurrentRequestStatus().RequestStatusName() === 'FINISHED'
    }">
                <div class="row">
                    <div class="col-xs-10">
                        <h4 class="list-group-item-heading" data-bind="text: RequestSubject()"></h4>
                        <blockquote>
                            <small class="list-group-item-text" data-bind="text: RequestDescription()"></small>
                        </blockquote>
                    </div>
                    <div class="text-right col-xs-2">
                        <span class="glyphicon glyphicon-play"></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</script>

<script type="text/html" id="newHelpDeskRequestTemplate">
    <div class="container" data-bind="visible: newHelpDeskRequestPage()">
        <div>
            <h3>Please enter details about new help desk request:</h3>
            <hr />
            <div class="form-group">
                <label for="requestSubject">Help desk request subject:</label>
                <input id="requestSubject" 
                    class="form-control"
                    placeholder="Request subject" 
                    name="requestSubject" 
                    data-bind="value: newRequest().RequestSubject" 
                    type="text" />
            </div>
            <div class="form-group">
                <label for="requestProduct">Help desk request product:</label>
                <select id="requestProduct"
                    class="span12 form-control" 
                    data-bind="options: products,
                    optionsText: 'ProductName',
                    value: selectedProduct">
                </select>
            </div>
            <div class="form-group">
                <label for="requestDescription">Help desk request details:</label>
                <textarea id="requestDescription"
                        class="form-control"
                        name="requestDescription"
                        cols="100"
                        data-bind="value: newRequest().RequestDescription">
                </textarea>
            </div>
        </div>
        <hr />
        <div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: saveRequest" >
                Save new help desk request</button>
        </div>
    </div>
</script>

<script type="text/html" id="productsListTemplate">
    <div class="container" data-bind="visible: productsGridPage()">
        <div class="list-group" data-bind="foreach: products">
            <a class="list-group-item"
                data-bind="click: loadProductDetails.bind($data)">
                <div class="row">
                    <div class="col-xs-10">
                        <h4 class="list-group-item-heading" data-bind="text: ProductName()"></h4>
                        <blockquote>
                            <small class="list-group-item-text" data-bind="text: ProductDescription()"></small>
                        </blockquote>
                    </div>
                    <div class="text-right col-xs-2">
                        <span class="glyphicon glyphicon-play"></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</script>

<script type="text/html" id="usersListTemplate">
    <div class="container" data-bind="visible: usersGridPage()">
        <div class="list-group" data-bind="foreach: users">
            <a class="list-group-item"
                data-bind="click: loadUserDetails.bind($data)">
                <div class="row">
                    <div class="col-xs-10">
                        <h4 class="list-group-item-heading" data-bind="text: UserName()"></h4>
                        <blockquote>
                            <small class="list-group-item-text" data-bind="text: UserDescription()"></small>
                        </blockquote>
                    </div>
                    <div class="text-right col-xs-2">
                        <span class="glyphicon glyphicon-play"></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</script>

<script type="text/html" id="helpDeskRequestDetailsTemplate">
    <div class="container" data-bind="visible: helpDeskRequestDetailsPage()">
        <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: loadHelpDeskRequestsGrid">BACK</button>
        @*<h2>Help Desk Request Details:</h2>*@
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>ID: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: RequestId()"></b></h4>

            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>Status: </h4>
            </div>
            <div class="col-xs-6 text-right" data-bind="css: {
    'text-success': CurrentRequestStatus().RequestStatusName() === 'ACCEPTED',
    'text-danger': CurrentRequestStatus().RequestStatusName() === 'DENIED',
    'text-warning': CurrentRequestStatus().RequestStatusName() === 'PROCESSED',
    'text-info': CurrentRequestStatus().RequestStatusName() === 'FINISHED'
}">
                <h4><b data-bind="text: CurrentRequestStatus().RequestStatusName()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>Subject: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: RequestSubject()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>Open Date: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: RequestOpenDate().substring(0, 10)"></b></h4>
            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>Closed Date: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: RequestClosedDate().substring(0, 10)"></b></h4>
            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>Product: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: Product().ProductDescription()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>Product Name: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: Product().ProductName()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>Assigned to: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: CurrentAssignedUser().UserName()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-12">
                <h4>Description: </h4>
            </div>
        </div>
        <div class="row table-bordered">
            <div class="col-xs-12">
                <h4><b data-bind="text: RequestDescription()"></b></h4>
            </div>
        </div>
        <div id="actions-up" class="row">
            <div class="actions-grid table-bordered text-center col-xs-4">
                <h3 class="actions-grid-text">Assign</h3>
            </div>
            <div class="actions-grid table-bordered text-center col-xs-4">
                <h3 class="actions-grid-text">Change Status</h3>
            </div>
            <div class="actions-grid table-bordered text-center col-xs-4">
                <h3 class="actions-grid-text">Delete</h3>
            </div>
        </div>
        <div id="actions-down" class="row">
            <div class="actions-grid table-bordered text-center col-xs-4">
                <h3 class="actions-grid-text">Status History</h3>
            </div>
            <div class="actions-grid table-bordered text-center col-xs-4">
                <h3 class="actions-grid-text">User History</h3>
            </div>
            <div class="actions-grid table-bordered text-center col-xs-4">
                <h3 class="actions-grid-text">Details</h3>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="productDetailsTemplate">
    <div class="container" data-bind="visible: productDetailsPage()">
        <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: loadProductsGrid">BACK</button>
        @*<h2>Product Details:</h2>*@
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>ID: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: ProductId()"></b></h4>

            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>Name: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: ProductName()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-12">
                <h4>Description: </h4>
            </div>
        </div>
        <div class="row table-bordered">
            <div class="col-xs-12">
                <h4><b data-bind="text: ProductDescription()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>DateCreated: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: DateCreated().substring(0, 10)"></b></h4>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="userDetailsTemplate">
    <div class="container" data-bind="visible: userDetailsPage()">
        <button class="btn btn-lg btn-primary btn-block" type="submit" data-bind="click: loadUsersGrid">BACK</button>
        @*<h2>User Details:</h2>*@
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>ID: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: UserId()"></b></h4>

            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>Username: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: UserName()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>Password: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: Password()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>User type: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: UserType().UserTypeName()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-12">
                <h4>User type description: </h4>
            </div>
        </div>
        <div class="row table-bordered">
            <div class="col-xs-12">
                <h4><b data-bind="text: UserType().UserTypeDescription()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-12">
                <h4>User description: </h4>
            </div>
        </div>
        <div class="row table-bordered">
            <div class="col-xs-12">
                <h4><b data-bind="text: UserDescription()"></b></h4>
            </div>
        </div>
        <div class="row table-bordered table-striped">
            <div class="col-xs-6">
                <h4>DateCreated: </h4>
            </div>
            <div class="col-xs-6 text-right">
                <h4><b data-bind="text: DateCreated().substring(0, 10)"></b></h4>
            </div>
        </div>
    </div>
</script>

@*<script type="text/html" id="adminActionsTemplate">
    <div class="row">
        <div class="col-md-4 text-center">
            <h4>Details</h4>
        </div>
        <div class="col-md-4 text-center">
            <h4>Change Password</h4>
        </div>
        <div class="col-md-4 text-center">
            <h4>Delete</h4>
        </div>
    </div>
</script>*@
